body {
    background-color: rgb(145, 145, 58);
    font-size: 20px;

}

#dog1 {
    width: 100px;
    float: left;
    margin-right: 10px;
}


#dog2 {
    width: 500px;
}

.lista {
    color: white;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;

}

#div1 {
    position: relative;
    
}

#header { 
    background-image:url("/images/cururupaisagem.png");
    background-position: 20% 4%;
    background-size: cover;
    padding: 60px 40px 50px;
    }

    #header-cont {
        max-width: 800px;
        margin-left: 50pxs;
    }

#primeiroparag {
    color: white;
}
#salsicha {
    width: 150px;
    z-index: 3;


}

#cigarro {
    width: 35px;
    position: absolute;
    top: 50px;
    left: 80px;
    z-index: 2;
    mix-blend-mode: multiply;

}

#oculos {
    width: 100px;
    position: absolute;
    left: 32px;
    top: 15px;
    z-index: 1;
    mix-blend-mode: multiply;
}


.button {
    background-color: rgb(0, 183, 255);
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 4px;

}

.circle {
    border-radius: 100%;
}


#primeirop {
    background-color: gray;
    font-style: italic;
    border-style: solid;
    border-color: blue;

}

#pp {
    font-family: fantasy;
    font-style: italic;
    font-size: 2px;
    position: absolute;
    top: 1125px;
    z-index: 4;

}


#amarelo {
    background-color: rgb(255, 255, 0);
    font-weight: bold;
}

#vermelho {
    background-color: red;
    font-style: italic;
}

#verde {
    background-color: green;
    text-decoration: underline;
}

#azul {
    background-color: blue;
}

li:hover {
    background-color: rgb(255, 0, 0);
}

li:active {
    background-color: purple;
    border-style: double;
}

a:hover {
    background-color: purple;
}

* { margin:0;
    padding:0px;
    border:o;

}